section#contact-about
  p.home-text <strong>Talk to us</strong><br/>about your <strong>needs</strong>.<br/>Or just <em>say hello</em>!
  p.contact-disclaimer *We hate spam and would never (ever) sell your email.
.color-bar
