section#services-list.web
  h2 Web Services
  hr.faded-hr
  .services
    ul
      li Site design and development
      li Mobile design
      li E-commerce
      li Content management integration
      li Search engine optimization
      li HTML5/CSS3
      li Custom WordPress theming
      li Online ads
      li Social media
      li Email marketing
      li Conversion tracking
  a(class="button orange float-shadow", href="/case-studies/") Read Case Studies
.color-bar
