section#services-list
  h2 Print Services
  .services-print
    ul
      li identity
      li branding
      li logos
      li brochures
      li advertisements
      li banners
      li menus
      li posters
      li album/cd covers
    ul
      li invitations
      li signage
      li book covers
      li letterhead
      li business cards
      li magazines
      li postcards
      li annual reports
      li photography

  h2 Web Services
  .services-web
  hr
    ul
      li identity
      li branding
      li logos
      li brochures
      li advertisements
      li banners
      li menus
      li posters
      li album/cd covers
      li invitations
      li signage
      li book covers
      li letterhead
      li business cards
      li magazines
      li postcards
      li annual reports
      li photography

.color-bar
