section#services-list.web
  h2 Web Services
  hr.faded-hr
  .services
    ul
      li Site Design and Development
      li Mobile Design
      li E-commerce
      li Content Management Integration
      li Search Engine Optimization
      li HTML5/CSS3
      li Custom WordPress Theming
      li Online Ads
      li Social Media
      li Email Marketing
      li Conversion Tracking
  a(class="button orange float-shadow", href="/case-studies/") Read Case Studies
.color-bar
