body
  +font-smoothing(on)
  background-color: #eee
  font-family: $base-font-family
  +fluid-type(font-size, 320px, 3200px, 16px, 48px)

  button
    border: none
    background: white
    padding: .5em
    margin-top: 1em
    font-size: em(24px)
    &:focus
      outline: none
    &:hover
      cursor: pointer

  .button
    border: none
    background: white
    padding: .5em
    margin-top: 1em
    font-size: em(24px)
    text-decoration: none
    &:focus
      outline: none
    &:hover
      cursor: pointer

hr.faded-hr
  color: white
  border: 0
  height: 1px
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
