body
  +font-smoothing(on)
  background-color: #eee
  font-family: $base-font-family
  +fluid-type(font-size, 320px, 3200px, 16px, 48px)

hr.faded-hr
  color: white
  border: 0
  height: 1px
  width: 40%
  margin-top: -0.5em
  margin-bottom: 1em
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0))

.texty
  padding-left: 3em
  padding-right: 3em

h1,h2,h3,h4,h5,h6
  margin-top: 0

figure
  margin: 2em 0.5em
  display: none
  padding: 15px 20px 30px 20px
  // min-height: 70px
  background:
    color: transparentize(white, 0.85)
    image: url(/assets/img/quote.svg)
    repeat: no-repeat
    size: em(20px)
    position: 15px 41px
  border-radius: em(10px)

// TODO: restyle these for mobile instead of hiding them
+media(650px)
  figure
    display: block

blockquote
  font-size: 1em
figcaption
  margin-left: em(40px)
  font-size: 0.75em
