button
  border: none
  background: white
  padding: .5em
  margin-top: 1em
  font-size: em(24px)
  &:focus
    outline: none
  &:hover
    cursor: pointer

.button
  border: none
  background: white
  padding: .5em
  margin-top: 1em
  font-size: em(24px)
  text-decoration: none
  &:focus
    outline: none
  &:hover
    cursor: pointer

.button
  &.orange
    color: $ResOrange

  &.blue
    color: $ResBlue

  &.red
    color: $ResRed

  &.green
    color: $ResGreen

  &.purple
    color: $ResPurple

  &.teal
    color: $ResTeal

  &.yellow
    color: $ResYellow

  &.float-shadow
    +float-shadow

  &.grow-shadow
    +grow-shadow
