@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic)

// Our variables
$base-font-family: "brix-slab", sans-serif
$base-line-height: 1.5em

$h1-font-family: "clarendon-urw"
$h2-font-family: "abril-fatface", serif

// Resolution Colors
// other colors
$ResGray: #828282
$ResLightGray: #f4f4f4
$ResDarkGray: #555759
$ResBlue: #478194
$ResRed: #db5147

$background-color: $ResLightGray

// type colors
$h1-color: $ResGray
$h2-color: $ResDarkGray
$p-color: $ResGray

// breakpoints
$bp-laptop: 1024px
$bp-tablet: 640px
$bp-mobile: 425px
$bp-mobile-s: 320px

//spacing (margins, etc)
$mobile-margin: 12px
$desktop-margin: 24px
