// Our variables
$base-font-family: AvenirNext-Regular, Helvetica, Arial, sans-serif
$base-font-weight: 400
$base-line-height: 1.5em

$spacing-unit: 1.5em

$text-color: #111
$background-color: #fdfdfd
$brand-color: #2a7ae2

// Resolution Colors
$ResTeal: #009d9c
$ResRed: #d8232a
$ResOrange: #de672b
$ResBlue: #005a9b
$ResYellow: #e6e325
$ResGreen: #009949
$ResPurple: #472d76

// Width of the content area
$content-width: 800px
$on-palm: 600px
$on-laptop: 800px
