section#process-method
  h2 Logo Design
  hr.faded-hr
  .phases
    .phase
      h3 The Importance of a Good Logo
      p Your logo is the the <strong>face of your business</strong>. We make sure that it is well designed, professional, and represents your values.
    .process-icon
      img(src="/assets/img/logo-design-icon.svg", alt="Logo Design")  
  .cardGroup
    .card.card--33
      .card__image--responsive
        img.data-featherlight(src="/assets/img/logos/bluegirl.svg", alt="Bluegirl")
      .card__label Bluegirl Boutique
    .card.card--66
      .card__image--responsive
        img(src="/assets/img/logos/dogwood-dash-5k.svg", alt="Dogwood Dash")
      .card__label Dogwood Dash
    .card.card--50
      .card__image--responsive
        img(src="/assets/img/logos/groove-burgers.svg", alt="Groove Burgers")
      .card__label Groove Burgers
    .card.card--50
      .card__image--responsive
        img(src="/assets/img/logos/loftin-group.png", alt="Loftin Group")
      .card__label Loftin Group
    .card.card--66
      .card__image--responsive
        img(src="/assets/img/logos/sooner-clinical-research.svg", alt="Sooner Clinical Research")
      .card__label Sooner Clinical Research
    .card.card--33
      .card__image--responsive
        img(src="/assets/img/logos/pork-tastes-good.svg", alt="Pork Tastes Good")
      .card__label Pork Tastes Good
    .card.card--50
      .card__image--responsive
        img(src="/assets/img/logos/blue-laser-group.svg", alt="Blue Laser Group")
      .card__label Blue Laser Group
    .card.card--50
      .card__image--responsive
        img(src="/assets/img/logos/classic-city-catering.svg", alt="Classic City Catering")
      .card__label Classic City Catering
    .card
      .card__image--responsive
        img(src="/assets/img/logos/downtown-athens.svg", alt="Downtown Athens")
      .card__label Downtown Athens
  figure
    blockquote I absolutely ADORE working with Taylor for our graphic design needs. The work he produces is always exactly what we have in mind (if not even better than we imagined), and he manages to do so with sometimes very little direction from us. He pays close attention to the small details and does his research to make sure we get the best product. Taylor has been my hero more times than I can count, and I recommend him to everyone!
    figcaption ~ Misty B. Canup, <em>Advertising and Publications Associate for Athens Regional Health System</em>


  h2 Print Design
  hr.faded-hr
  .phases
    .phase
      h3 Business Cards to Billboards
      p Your <strong>marketing materials are key</strong> to your <strong>advertising and sales</strong> efforts. We make sure that they are effective.
    .process-icon
      img(src="/assets/img/print-design-icon.svg", alt="Print Design")  
  .cardGroup
    .card.card--66
      .card__image--fixed
        img(src="/assets/img/print/locos-italiano-menu.jpg", alt="Locos Italiano Menu")
      .card__label Locos Italiano Menu
    .card.card--33
      .card__image--fixed
        img(src="/assets/img/print/locos-ketchup-label.jpg", alt="Locos Ketchup Label")
      .card__label Locos Ketchup Label
    .card
      .card__image--fixed
        img(src="/assets/img/print/bob-fiber-optic.jpg", alt="Bob Salon")
      .card__label Bob Salon
    .card
      .card__image--fixed
        img(src="/assets/img/print/armc-annual-report.png", alt="ARMC Annual Report")
      .card__label ARMC Annual Report
    .card.card--50
      .card__image--fixed
        img(src="/assets/img/print/armc-barrow-pediatric.jpg", alt="ARMC Pediatric")
      .card__label ARMC Pediatric
    .card.card--50
      .card__image--fixed
        img(src="/assets/img/print/bob-flower-girl.jpg", alt="Bob Salon")
      .card__label Bob Salon
    .card
      .card__image--fixed
        img(src="/assets/img/print/gssa-brochure.jpg", alt="GSSA Brochure")
      .card__label GSSA Brochure
  figure
    blockquote We have found Taylor to be creative, willing to incorporate our ideas and suggestions, meet our deadlines, and design pieces that are very effective in telling our story.  To sum it up, we love working with Taylor!
    figcaption ~ Tammy Gilland, <em>Vice President for Athens Regional Foundation</em>  
.color-bar
