section#portfolio-about
  p.home-text This will be our portfolio page. I swear I'm getting to it, but it needs to be just so, you know? In the meantime, you can check out Taylor's design chops at <a href="http://www.resolutionathens.com">resolutionathens.com</a>.
.color-bar
