section#ian
  p.home-text <strong>Ian</strong> is a rare combo <br/>of designer <br/>and developer. <br/>He will obsess <br/>over every <strong>pixel</strong><br/> and line of <strong>code</strong> <br/>on your site.
  button.ian See How He Does It
