header
  .header-position
    h1.logo Resolution Digital Type and Image
    nav.site-nav
      ul
        li: a(href="/") Home
        li: a(href="/portfolio/") Portfolio
        li: a(href="/case-studies/") Case Studies
        li: a(href="/services/") Services
        li: a(href="/process/") Process
        
    a(href="/contact/").email-link +email us
