mixin inner-nav-content()
  ul
    li: a(href="/") Home
    li: a(href="/portfolio/") Portfolio
    li: a(href="/case-studies/") Case Studies
    li: a(href="/contact/") Contact Us
    li: a(href="/services/") Services
    li: a(href="/process/") Process

.mobile-nav
  +inner-nav-content()

header
  .header-position
    h1.logo Resolution Digital Type and Image
    nav.site-nav
      +inner-nav-content()
