mixin inner-nav-content()
  ul
    li: a(href="/") Home
    li: a(href="/portfolio/") Portfolio
    li: a(href="/case-studies/") Case Studies
    li: a(href="/services/") Services
    li: a(href="/process/") Process
    li: a(href="/contact/") Contact Us

.mobile-nav
  +inner-nav-content()

header
  .header-position
    h1.logo Resolution Digital Type and Image
    nav.site-nav
      +inner-nav-content()
    ul.social
      li
        a(href="http://www.facebook.com/resolutionathens")
          img(src="/assets/img/social/facebook.svg", alt="Friend us on Facebook")
      li
        a(href="https://twitter.com/ResolutionATH")
          img(src="/assets/img/social/twitter.svg", alt="Follow us on Twitter")
      li
        a(href="https://github.com/slip/Resolutionathens-Redesign")
          img(src="/assets/img/social/github.svg", alt="Clone us on Github")
      li
        a(href="/contact")
          img(src="/assets/img/social/mail.svg", alt="Contact us here")
