section#jennifer
  p.home-text <strong>Jennifer</strong> is an expert in<br/> <strong>strategy</strong> and <strong>planning</strong>.<br/> Your project or carpool,<br/> she will get you from<br/> point A to <strong>point B</strong>.
  a(href="")
    button.jennifer Tell Her What You Need
