section#mobile-header
  img.logo(src="/assets/img/resolutionLogo@2x.png", alt="Resolution Digital Type and Image")
  .hamburger-icon
    img(src="/assets/img/hamburger.svg", alt="Navigation Link")
.color-bar
