header
  .header-position
    h1.logo Resolution Digital Type and Image
    nav.site-nav
      ul
        li: a(href="/") Home
        li: a(href="#logos") Logos
        li: a(href="#print") Print
        li: a(href="#taylor") Taylor
    a(href="mailto:hello@resolutionathens.com").email-link +email us
