---
layout: default
title: Resolution Digital Type and Image | A small but mighty design firm
description: Resolution is a small but mighty graphic design firm in Athens, Georgia. Taylor will build your brand. Ian will design and develop your website.
---
<div class="home-wrapper">
  {% include header.html %}
  <div class="home-sections">
    {% include mobile-header.html %}
    {% include about.html %}
    {% include taylor.html %}
    {% include ian.html %}
    {% include jennifer.html %}
    {% include services.html %}
    {% include process.html %}
    {% include footer.html %}
  </div>
</div>
