section#about
  .poster-container
    img.poster.bottom-48(src="/assets/img/res-poster.jpg", alt="Resolution Athens")
  .divider-md.bottom-24
  .hide-me
    h1.bottom-24.full-width New Company, Old Hats
    h2.bottom-24 Big agency experience, small firm attention.
    hr.bottom-24
    p.bottom-12
      | We're a new company, but not new at this. Our principals have a combined 75 years experience in branding, strategy, graphic design,
      | UX design, marketing, and business development. We know this stuff.
    p.bottom-24
      | As a new company we are excited to use our experience to bring a new perspective to branding and strategy: Client-centered, community sensitive, and forward-thinking.
    .divider-lt.bottom-24
  //us
  h2.hl-us.bottom-24 Us.
  h2.bottom-24 Not our first rodeo.
  hr.bottom-24
  p.bottom-24
    | Resolution may be new but we have a history. Taylor Little founded Resolution Digital Type and Image in 1993 as Athens, Georgia's first service bureau and offered design and production. 23 years and numerous awards later, Taylor partered with Ian Kenendy and Jennifer Davidson to reimagine the company as Resolution Athens with a focus on strategy, branding, and user-centric design. In the summer of 2016, Resolution recruited Daniel Fell to round out the team.
  .team.bottom-24
    .teammate.bottom-24
      img(src="/assets/img/bio-pics/tl.png", alt="Taylor Little")
      p.teammate-name Taylor Little
      p.teammate-title Founder
    .teammate.bottom-24
      img(src="/assets/img/bio-pics/ik.png", alt="Ian Kennedy")
      p.teammate-name Ian Kennedy
      p.teammate-title Strategy, UX
    .teammate
      img(src="/assets/img/bio-pics/jd.png", alt="Jennifer Davidson")
      p.teammate-name Jennifer Davidson
      p.teammate-title Accounts
    .teammate
      img(src="/assets/img/bio-pics/df.png", alt="Daniel Fell")
      p.teammate-name Daniel Fell
      p.teammate-title Creative
  .divider-md.bottom-24
  // you
  h2.hl-you.bottom-24 You.
  h2.bottom-24 No one will ever love you the way we love you.
  hr.bottom-24
  p.bottom-12
    | That's a big, sweet promise. Resolution selectively and discerningly partners with clients we are proud to work with - the kind of companies that we sincerely want to see grow and succeed. We do everything we can to make that happen.
  p.bottom-24
    | We've worked with and for much larger firms that phoned it in, assigned projects to the B-team, and frankly cared more about their clients' wallets than their projects. We are here because we reject all of that.
  .divider-lt.bottom-24
  //what we do
  h1.bottom-24 Case Studies
  h2.hl-this-is.bottom-12 This is what we do.
  h2.hl-what-we.bottom-12 what we
  h2.hl-do.bottom-24 do.
  hr.bottom-24
  p.bottom-24
    | We work iteratively with you to help you define an effective voice which resonates with your audience. The beauty of our agile design process means that you get to watch as your project takes shape. We don't go dark while you wait patiently then reappear with unapproved designs.

  .client.screened-bg.bottom-24
    .client-pic
      img(src="/assets/img/case-studies/nuci-logo.svg", alt="Nuci's Space")
    .client-info
      p.client-title Nuci's Space
      p.client-desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="nuci.html">Read more</a>.

  .client.bottom-24
    .client-pic
      img(src="/assets/img/case-studies/nuci-logo.svg", alt="Nuci's Space")
    .client-info
      p.client-title Athens Regional Healthcare
      p.client-desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="armc.html">Read more</a>.

  .client.screened-bg.bottom-24
    .client-pic
      img(src="/assets/img/case-studies/nuci-logo.svg", alt="Nuci's Space")
    .client-info
      p.client-title Sorba Atlanta
      p.client-desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="sorba.html">Read more</a>.
