section#ian
  p.home-text <strong>Ian</strong> is a rare <br/>combo of designer <br/>and developer. <br/>He will <em>obsess</em> <br/>over every <strong>pixel</strong><br/> and line of <strong>code</strong> <br/>on your site.
  a(class="button ian", href="/case-studies") See How He Does It
.color-bar
