section#jennifer
  p.home-text <strong>Jennifer</strong> is an expert in<br/> <strong>strategy</strong> and <strong>planning</strong>.<br/> She will help every phase<br/> of your project <strong>run smoothly</strong>.
  a(class="button blue grow-shadow", href="/contact") Tell Her What You Need
.color-bar
