section#process
  p.home-text We’re not saying<br/>everyone else<br/>does things wrong…<br/>We’re saying that<br/><strong>we do things right.</strong>
  div(class="wow bounceInUp")
    a(class="button purple grow-shadow", href="/process/") Examine Our Process
.color-bar
