section#services
  p.home-text Does your project<br/>involve design?<br/><strong>We can help you.</strong>
  div(class="wow bounceInRight")
    a(class="button green float-shadow", href="/services/") Explore Our Services
.color-bar
