section#taylor
  p.home-text <strong>Taylor</strong> likes <em>fast cars</em><br/> and <strong>great design</strong>.<br/> Need a logo,<br/> new brochure, <br/>or billboard?<br/><strong>He’s your man</strong>.
  a(class="button taylor", href="/portfolio") Check Out His Work
.color-bar
