#about
  margin: 24px 0
  padding: 10px

.hide-me
  display: block
  +media($bp-laptop)
    display: none
.poster-container
  width: 100%
  text-align: center

img.poster
  max-width: calc(100% - 20px)
  max-height: 100vh

hr
  border: 0
  height: 1px
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, .25), rgba(0, 0, 0, 0));
  width: 100%

.headline
  width: 100%
  img
    height: 50px

// team section
.team
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  width: 100%

  .teammate
    width: 40%
    img
      width: 100%

.teammate-name
  font-family: "Arial Narrow", Arial, sans-serif
  font-size: 14px
  font-weight: 600
  text-transform: uppercase
  margin-bottom: 0px
  +media($bp-laptop)
    font-size: 16px


.teammate-title
  font-family: "brix-slab", sans-serif
  font-size: 14px
  +media($bp-laptop)
    font-size: 16px


// client section
.client
  padding: 24px 0
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  align-items: center
  +media($bp-laptop)
    height: 280px

.client-pic
  // flex: 1 0 0
  +filter(grayscale(100%))
  width: 100px
  height: 100px
  +media($bp-tablet)
    width: 130px
    height: 130px
  +media($bp-laptop)
    width: 160px
    height: 160px


.client-info
  flex: 2 0 0
  margin-left: 10px
  padding: 6px
  +media($bp-laptop)
    margin-left: 24px

  p.client-title
    color: $ResDarkGray
    font-family: "Arial Narrow", Arial, sans-serif
    font-size: 14px
    font-weight: 600
    text-transform: uppercase
    margin-bottom: 0px
    +media($bp-laptop)
      font-size: 18px
      margin-bottom: 12px

  p.client-desc
    font-family: "brix-slab", sans-serif
    font-size: 12px
    +media($bp-laptop)
      font-size: 16px

.screened-bg
  background:
    image: url(/assets/img/tile1-ik.svg)
    repeat: repeat
