section#about
  +display(flex)
  +justify-content(center)
  +align-items(center)
  min-height: 450px

  background:
    color: $ResTeal
    image: url(/assets/img/about-bg@2x.png)
    repeat: no-repeat
    size: cover
    position: center bottom

  .home-text
    font-size: 1.5em
    text-align: center
