section#footer
  display: flex
  flex-direction: column
  justify-content: center

  background:
    color: $ResDarkGray
    image: url(/assets/img/footer-bg@2x.gif)
    size: cover
    repeat: no-repeat
    position: center bottom

  p.home-text
    font-size: 0.75em
    text-align: center
    line-height: 1.5em
    margin-top: 1em
    margin-bottom: 1em
    a
      color: $ResYellow
      text-decoration: none
      &:hover
        text-decoration: underline

  p.copyright
    margin-top: 1em
    font-size: 0.5em
    text-align: center
