section#portfolio
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 450px

  background:
    color: $ResPurple
    image: url(/assets/img/process-bg@2x.png)
    repeat: no-repeat
    size: cover
    position: left center

  .home-text
    font-size: 1.375em
    line-height: 1.75em
    text-align: center

section#portfolio-about
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 400px
  color: white
  a
    color: $ResYellow
    text-decoration: none

  background:
    color: $ResGreen
    image: url(/assets/img/portfolio-about-bg@2x.jpg)
    repeat: no-repeat
    size: cover
    position: center center

  .home-text
    font-size: 1.5em
    line-height: 1.5em
    text-align: center

// portfolio gallery
.cardGroup
  display: flex
  flex-wrap: wrap
  overflow: hidden
  max-width: 100%

.card
  display: flex
  flex: 1 0 auto
  justify-content: flex-end
  flex-direction: column
  overflow: hidden
  margin: .25em
  background: white
  min-width: 150px
  width: 100%
  cursor: pointer

.card--33
  min-width: 30vw
  +media(800px)
    min-width: 25vw

.card--50
  min-width: 35vw
  +media(800px)
    min-width: 30vw

.card--66
  min-width: 60vw
  +media(800px)
    min-width: 55vw

.card__image--responsive
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: em(20px)
  img
    max-width: 100%

.card__image--fixed
  padding: em(20px)
  img
    width: 100%

.card__label
  text-align: center
  color: $ResBlue
  font-size: .75em
  padding: 1em

.featherlight-content
  padding: em(32px)!important
  max-width: 95%
  margin: 5px

.featherlight-image
  max-width: 100%


.featherlight-close-icon
  color: white !important
  background: $ResRed !important
  border: 1px solid $ResRed
  font-weight: bold
  width: 2em!important
  height: 2em!important
  line-height: 1.9em!important
