section#portfolio
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 450px

  background:
    color: $ResPurple
    image: url(/assets/img/process-bg@2x.png)
    repeat: no-repeat
    size: cover
    position: left center

  .home-text
    font-size: 1.375em
    line-height: 1.75em
    text-align: center

section#portfolio-about
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 250px
  color: white
  a
    color: $ResYellow
    text-decoration: none

  background:
    color: $ResGreen
    image: url(/assets/img/process-bg@2x.png)
    repeat: no-repeat
    size: cover
    position: left center

  .home-text
    font-size: 1.5em
    line-height: 1.5em
    text-align: center

section#portfolio-method
  color: white
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

  background:
    color: $ResDarkGray
    image: url(/assets/img/process-page-bg@2x.jpg)
    repeat: no-repeat
    size: cover
    position: left center
