section#process
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 450px

  background:
    color: $ResPurple
    image: url(/assets/img/process-bg@2x.jpg)
    repeat: no-repeat
    size: cover
    position: left center

  .home-text
    font-size: 1.375em
    line-height: 1.75em
    text-align: center

section#process-about
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 250px
  color: white

  background:
    color: $ResGreen
    image: url(/assets/img/process-bg@2x.jpg)
    repeat: no-repeat
    size: cover
    position: left center

  .home-text
    font-size: 1.5em
    line-height: 1.5em
    text-align: center

section#process-method
  color: white
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

  background:
    color: $ResBlue


  hr
    margin-bottom: 2em

  h2
    margin-top: 1em
    text-align: center

  p
    margin-bottom: 1em
    text-align: left

  a
    color: $ResYellow
    text-decoration: none
    &:hover
      text-decoration: underline

.phases
  display: flex
  flex-direction: row-reverse
  flex-wrap: wrap
  // justify-content: center
  align-items: center
  margin: 1em
  h3
    margin-bottom: .5em

.phase
  flex-basis: 65%
  flex-grow: 1
  flex-shrink: 0
  margin-bottom: 1em

.process-icon
  flex-basis: 160px
  margin: 20px 0 2em 0
  img
    width: 100px
