.home-wrapper
  display: flex
  min-height: 100vh

.home-sections
  display: flex
  flex-direction: column

header
  flex-shrink: 0

section
  min-height: 350px
  width: 100vw
  margin: 0
  padding: calc(.05 * 100vw)
  +media(800px)
    width: calc(100vw - (.23 * 100vw))

  p
    line-height: 1.75em
    margin: 0
    padding: 0
    color: white

.color-bar
  height: 0.3em
  width: 100%
  background:
    image: url(/assets/img/color-bar.svg)

@keyframes bounceInUp
  from, 60%, 75%, 90%, to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)


  from
    opacity: 0
    -webkit-transform: translate3d(0, 3000px, 0)
    transform: translate3d(0, 3000px, 0)


  60%
    opacity: 1
    -webkit-transform: translate3d(0, -20px, 0)
    transform: translate3d(0, -20px, 0)


  75%
    -webkit-transform: translate3d(0, 10px, 0)
    transform: translate3d(0, 10px, 0)


  90%
    -webkit-transform: translate3d(0, -5px, 0)
    transform: translate3d(0, -5px, 0)


  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)



.bounceInUp
  -webkit-animation-name: bounceInUp
  animation-name: bounceInUp


.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.animated.bounceIn
  -webkit-animation-duration: .75s
  animation-duration: .75s


@keyframes bounceInRight
  from, 60%, 75%, 90%, to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)


  from
    opacity: 0
    -webkit-transform: translate3d(3000px, 0, 0)
    transform: translate3d(3000px, 0, 0)


  60%
    opacity: 1
    -webkit-transform: translate3d(-25px, 0, 0)
    transform: translate3d(-25px, 0, 0)


  75%
    -webkit-transform: translate3d(10px, 0, 0)
    transform: translate3d(10px, 0, 0)


  90%
    -webkit-transform: translate3d(-5px, 0, 0)
    transform: translate3d(-5px, 0, 0)


  to
    -webkit-transform: none
    transform: none



.bounceInRight
  -webkit-animation-name: bounceInRight
  animation-name: bounceInRight
