<!doctype html>

<!--
                  handmade by
       resolution digital type and image
    .-. .-. .-. .-. .   . . .-. .-. .-. . .
    |(  |-  `-. | | |   | |  |   |  | | |\|
    ' ' `-' `-' `-' `-' `-'  '  `-' `-' ' `
              resolutionathens.com
-->

<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <title>{{ page.title }}</title>
  <link rel="canonical" href="http://resolutionathens.com/"/>
  <link rel="author" href="/humans.txt">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="subject" content="Graphic and web design in Athens, Georgia.">
  <meta name="url" content="http://resolutionathens.com/">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Resolution"/>
  <meta property="og:url" content="http://resolutionathens.com" />
  <meta property="og:title" content="Resolution Digital Type and Image ~ A small but mighty design firm in Athens, Georgia" />
  {% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
  <meta property="og:image" content="http://resolutionathens.com/assets/img/ogp.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ResolutionATH" />
  <meta name="twitter:title" content="Resolution Digital Type and Image" />
  <meta name="twitter:description" content="A small but mighty graphic design firm in Athens, Georgia." />
  <meta name="twitter:image" content="http://resolutionathens.com/assets/img/resolution-twitter-image@2x.png" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/img/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicons/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="Resolution"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/assets/img/favicons/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/assets/img/favicons/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/assets/img/favicons/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/assets/img/favicons/mstile-310x310.png" />
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/main.min.css">
  <!-- Hotjar Tracking Code for http://www.resolutionathens.com -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:216789,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

</head>

<body>
  {{ content }}
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/assets/js/common.min.js"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Resolution",
      "url": "https://www.resolutionathens.com",
      "sameAs": [
        "https://www.twitter.com/ResolutionATH",
        "https://www.facebook.com/resolutionathens/",
      ]
    }
  </script>

</body>

</html>
